@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue-text-rgb: 37, 43, 70;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--dark-blue-text-rgb));
  background: rgb(var(--background-rgb));
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

p {
  --tw-text-opacity: 1;
  color: hsl(229 8% 60% / var(--tw-text-opacity));
}

.socialIcon path:hover {
  cursor: pointer;
  fill: #fa5757;
}